h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.35em;
    padding-bottom: 10px;
    font-size: 2em;
    margin: 0.67em 0;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}

h2 {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid;
    text-shadow: 5px 5px 5px rgb(5, 1, 1);
    font-size: 1em;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: block;
    background-color: #00FF00;
    color: black;
    text-align: center;
    text-shadow: 10px 10px 10px black;
    justify-content: center;
    align-content: center;
}



body {
    display: block;
    margin: 8px;
    width: auto;
}

footer {
    background-color: #00FF00;
    color: black;
    text-align: center;
    font-size: 25px;
    height: 50px;
}


main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-size: 25px;
}

hr {
    max-width: 100%;
    margin-bottom: 50px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

header img {
    box-shadow: 5px 5px black;
    margin-top: 15px;
    border-style: none;
    width: 200px;
    aspect-ratio: auto 200 / 210;
    height: 183px;

}

p {
    color: white;
    font: italic;
    font-size: 15px;
}