header, footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background-color: #85E2FF;
    padding: 10px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: auto;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16p
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #a1f061;
    font-size: 16px;
}

img {
    size: auto;
}

nav a {
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}